@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-Black.woff2') format('woff2'),
        url('../fontsMontserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-BlackItalic.woff2') format('woff2'),
        url('../fontsMontserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-Bold.woff2') format('woff2'),
        url('../fontsMontserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-BoldItalic.woff2') format('woff2'),
        url('../fontsMontserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-ExtraBold.woff2') format('woff2'),
        url('../fontsMontserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../fontsMontserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-ExtraLight.woff2') format('woff2'),
        url('../fontsMontserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../fontsMontserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-Italic.woff2') format('woff2'),
        url('../fontsMontserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-Light.woff2') format('woff2'),
        url('../fontsMontserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-Medium.woff2') format('woff2'),
        url('../fontsMontserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-LightItalic.woff2') format('woff2'),
        url('../fontsMontserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-MediumItalic.woff2') format('woff2'),
        url('../fontsMontserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-SemiBold.woff2') format('woff2'),
        url('../fontsMontserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-Regular.woff2') format('woff2'),
        url('../fontsMontserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../fontsMontserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-Thin.woff2') format('woff2'),
        url('../fontsMontserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontsMontserrat-ThinItalic.woff2') format('woff2'),
        url('../fontsMontserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-Bold.woff2') format('woff2'),
        url('../fontsPoppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-BlackItalic.woff2') format('woff2'),
        url('../fontsPoppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-Black.woff2') format('woff2'),
        url('../fontsPoppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-ExtraLight.woff2') format('woff2'),
        url('../fontsPoppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-ExtraBold.woff2') format('woff2'),
        url('../fontsPoppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-ExtraLightItalic.woff2') format('woff2'),
        url('../fontsPoppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-BoldItalic.woff2') format('woff2'),
        url('../fontsPoppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-ExtraBoldItalic.woff2') format('woff2'),
        url('../fontsPoppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-Light.woff2') format('woff2'),
        url('../fontsPoppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-Italic.woff2') format('woff2'),
        url('../fontsPoppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-Medium.woff2') format('woff2'),
        url('../fontsPoppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-LightItalic.woff2') format('woff2'),
        url('../fontsPoppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-Thin.woff2') format('woff2'),
        url('../fontsPoppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-MediumItalic.woff2') format('woff2'),
        url('../fontsPoppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-SemiBoldItalic.woff2') format('woff2'),
        url('../fontsPoppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-SemiBold.woff2') format('woff2'),
        url('../fontsPoppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-Regular.woff2') format('woff2'),
        url('../fontsPoppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontsPoppins-ThinItalic.woff2') format('woff2'),
        url('../fontsPoppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/fontsQuicksand-Medium.woff2') format('woff2'),
        url('../fonts/fontsQuicksand-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/fontsQuicksand-Light.woff2') format('woff2'),
        url('../fonts/fontsQuicksand-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/fontsQuicksand-Bold.woff2') format('woff2'),
        url('../fonts/fontsQuicksand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/fontsQuicksand-Regular.woff2') format('woff2'),
        url('../fonts/fontsQuicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/fontsQuicksand-SemiBold.woff2') format('woff2'),
        url('../fonts/fontsQuicksand-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



